* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: rgb(5, 5, 5);
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: aqua;
  height: 4rem;
  color: rgb(15, 14, 14);
  padding-top: 1.5rem;
}

.header p {
  font-size: xx-large;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.pic {
  padding: 5px;
  box-shadow: 0.3rem 0.3rem 1rem 0.1rem #fff;
}

.size {
  max-width: 100%;
}
